<!--  Página html do usuario  -->
<ion-header>

    <ion-navbar>
      <ion-title>Cadastro Usuário</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <!--  bind que permite executar a função verficaSalvarEditar() ao submeter o formulário -->
    <form (ngSubmit)="verficaSalvarEditar()">

      <!--  two way data bind, permite setar o valor do nome do usuário -->
      <ion-item>
        <ion-label stacked>Nome: </ion-label>
        <ion-input [(ngModel)]="usuario.nome" name="nome"></ion-input>
      </ion-item>
  
      <!--  two way data bind, permite setar o valor do email do usuário -->
      <ion-item>
        <ion-label stacked>Email: </ion-label>
        <ion-input [(ngModel)]="usuario.email" name="email"></ion-input>
      </ion-item>
  
      <!--  two way data bind, permite setar o valor da senha do usuário -->
      <ion-item>
        <ion-label stacked>Senha: </ion-label>
        <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
      </ion-item>
  
      <!--  two way data bind, permite setar o valor de confirmar senha, por preciso confirmar, se o usuário sabe o que digitou na senha do usuário -->
      <ion-item>
          <ion-label stacked>Confirma Senha: </ion-label>
          <ion-input type="password" [(ngModel)]="senha_confirma" name="senha_confirma"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Perfil: </ion-label>
        <ion-input [(ngModel)]="usuario.perfil" name="perfil" clearInput></ion-input>
      </ion-item>
  
      <!--  
        ngIf bind que permite exibir conteúdo, se a variável do controller error.condição for verdadeira, se houver algum erro, seta-se esta variável como
        verdadeira e apresenta a mensagem de erro
      -->
      <div *ngIf="error.condicao" text-center margin-top>
          <p ion-text color="danger">{{error.message}}</p>
      </div>
  
      <!--  
        ngIf bind que permite exibir conteúdo, se a variável do controller success.condicao for verdadeira, se o sucesso no cadastro, 
        seta-se esta variável como  verdadeira e apresenta a mensagem de sucesso
      -->
      <div *ngIf="success.condicao" text-center margin-top>
          <p ion-text color="primary">{{success.message}}</p>
      </div>
      
      <div text-center margin-top>
        <button ion-button color="secondary">Salvar</button>
      </div>
    </form>
  </ion-content>